{% extends "layout.html" %}

{% block title %}
Register
{% endblock %}

{% block main %}

<h1 style="color:#0e2d5c;">Register</h1> <br>
    <form action="/register" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
        </div>
        <br>
        <div class="form-group">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
        </div>
        <br>
        <div class="form-group">
            <input class="form-control mx-auto w-auto" name="confirm" placeholder="Confirm Password" type="password">
        </div>
        <br>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
    <br>
    <div>
        <p>Already have an account? <br>
        <a href="/login">Login Here!</a></p>
    </div>
{% endblock %}